UpdateClient/Connected Services/ServiceUpdate/UpdateService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Update" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Update" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFileInfomation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileInfomation" nillable="true" type="tns:FileInfomation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileInfomation" nillable="true" type="tns:ArrayOfFileInfomation" />
  <xs:complexType name="FileInfomation">
    <xs:sequence>
      <xs:element minOccurs="0" name="FieldMd5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Filebody" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileInfomation" nillable="true" type="tns:FileInfomation" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>